.c-square {
  text-align: center;
  width: 200px;
  height: 200px;
  border: solid 2px rgb(85, 3, 179);
  cursor: pointer;
  border-radius: 6px;
  box-shadow: #029db9 2px -2px 12px;
  object-fit: contain;
}

@media only screen and (max-device-width: 500px) {
  .c-square {
    width: 80px;
    height: 80px;
  }
}
