.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(200, 199, 196);
}
body {
  background-color: #0f191f;
  display: flex;
  margin-top: 24px;
}

.table {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  width: 34%;
  height: 40%;
  gap: 4px;
}

.c-score {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(31, 201, 201);
  text-shadow: 0px 0px 2px rgb(222, 224, 224);
  margin: 4px;
}

button {
  margin-top: 24px;
  cursor: pointer;
  background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
  background-size: 800% 400%;
  padding: 1em 2em;
  display: inline-block;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 700;
  color: white;
  transition: all 0.5s ease-in-out;
  animation: gradient 10s infinite cubic-bezier(0.62, 0.28, 0.23, 0.99) both;
}

button:hover {
  animation: gradient 3s infinite;
  transform: scale(1.05);
}

button:active {
  animation: gradient 3s infinite;
  transform: scale(0.8);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.c-green {
  color: rgb(21, 158, 128);
}

.c-red {
  color: red;
}

@media only screen and (max-device-width: 500px) {
  .table {
    background-color: red;
    width: 60%;
    height: 100%;
  }
}
